.App{
  background-color: #143f96;
}

.App-header {
  background-color: #fcc01c ;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Column{
  color: white;
  background-color: #800080 ;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(300px + 2vmin);
  min-height: calc(450px + 2vmin);
  margin: 5px;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}
.header2{
  font-size: calc(5px + 2vmin);
}

.task-button{
  background-color: #143f96;
  color: white;
  border: 5px solid #800080;
  border-radius: 15px; /* Rounded corners */
  padding: 5px;
  margin: 5px;
  min-width: calc(10px + 2vmin);
  min-height: calc(25px + 2vmin);
}

.task-button:hover{
  background-color: #53005e;
}

.popUp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonPOS {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: bottom;
}


.addTask{
  font-size : calc(5px + 2vmin);
  color: white;
}